/*confugyracion y estilos basicos*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #000;
}
/*desde aca arracncan los estilos del "inicio.html*/
.container-fluid {
    background-color: black;
}
.navbar-brand {
    color: #fff;
    font-size: 30px;
}
.navbar-brand:hover {
    color: white;
    cursor: pointer;
}
.nav-link:hover {
    color: white;
    cursor: pointer;
}
.nav-link {
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.navbar-toggler {
    background-color: #fff;
}
/*desde aca arranca el resto del cuerpo del "inicio.html"*/
.titulo {
    height: 65vh;
}
h1{
    color:blue;
    text-align: center;
    font-size: 2.5em;
}
p{
    color:#fff;
    text-align: center;
    font-size: 1.25em;
}
h2{
    color:blue;
    text-align: center;
    font-size: 2em;
}
h5 {
    color:blue;
    text-align: center;
    font: 50px;
}
.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.card {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.card-img-top {
    width: 100px;
    height: 100px;
}
.titulo-de-historia {
    color: blue;
    text-align: center;
    font-size: 1.90em;
}
.historia {
    color:#fff;
    text-align: left;
    font-size: 1.25em;
}
h3 {
    color:blue;
    text-align: center;
    font-size: 1em;
}
/*desde aca arrancan los estilos del "proyectos.html"*/
.presentacion-proyectos {
    padding: 8% auto;
}
.img-todo {
    width: 125px;
    height: 125px;
}
.titulo-de-skills {
    color: blue;
    text-align: center;
}
.titulos-de-proyectos {
    color: blue;
    text-align: center;
}
.card-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
    justify-items: center; 
}
.card-proyectos-final {
    width: 15rem;
    height: 20rem;
    display: inline-block;
    height: 65vh;
    margin: 45px;
}
.card-img-top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}
.card-text {
    color: white;
    text-align: left;
    font-size: 0.90em;
}
.lista {
    color: white;
    text-align: left;
}
.btn btn-primary {
    background-color: black;
    color: white;
    border-radius: 25px solid white;
}
/*desde aca arrancan los estilos del "contacto.html"*/
.flex-conteiner{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #000;
    margin: 50px 30px;
}
h2{
    color: white;
    text-align: left;
}
.form{
    min-width: 400px;
    flex: 1;
    text-align: right;
    padding: 30px;
}
.form__input{
    width: 100%;
    padding: 7px;
    margin: 6px 0px;
    border: none;
    border-bottom: 3px solid black;
    background-color: transparent;
    color: white;
}
.form__input:focus{
    background: linear-gradient(to button, transparent, #333);
    background-color: #333;
    outline: none;
    border-bottom: 3px solid;
}
.form__textarea{
    min-width: 140px;
}
.boton{
    font-size: 25px;
    padding: 5px;
    margin: 5px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}
.boton:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}
/*desde aca arracnca  el footer para todos los HTML.*/
footer{
    width: 100%;
    height: 10vh;
    display: inline-block;
    justify-content: center;
    text-align: center;
    border-top: 1px solid #fff;
    padding: 1vh;
}
ul, li, a {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    flex-direction: column;
    margin: 5px;
}
.iconos-footer {
    width: 48px;
    height: 48px;
}

/* 